<main class="bg-gray-50">
    <div class="max-w-6xl mx-auto px-3 py-12 space-y-6">
        <div class="mb-8">
            <div>
                <h1 class="text-6xl mb-4 font-extrabold">Careers</h1>
            </div>
        </div>
        <div class="flex flex-col md:flex-row gap-3">
            <div class="md:w-1/2">
                <form id="career-form">
                    <div class="
                  bg-white
                  overflow-hidden
                  shadow
                  rounded-lg
                  divide-y divide-gray-200
                ">
                        <div class="px-4 py-5 sm:px-6 text-lg">Add Job Posting</div>
                        <div class="px-4 py-5 sm:p-6">
                            <div class="space-y-5">
                                <div class="lg:grid lg:grid-cols-3 lg:gap-4 lg:items-start">
                                    <label for="job-title" class="
                          block
                          text-sm
                          font-medium
                          text-gray-700
                          sm:mt-px sm:pt-2
                        ">
                                        Job Title
                                    </label>
                                    <div class="mt-1 sm:mt-0 sm:col-span-2">
                                        <input type="text" name="job-title" id="job-title" required="" class="
                            block
                            w-full
                            shadow-sm
                            sm:text-sm
                            focus:ring-pink-500 focus:border-pink-500
                            border-gray-300
                            rounded-md
                          ">
                                    </div>
                                </div>

                                <div class="lg:grid lg:grid-cols-3 lg:gap-4 lg:items-start">
                                    <label for="job-level" class="
                          block
                          text-sm
                          font-medium
                          text-gray-700
                          sm:mt-px sm:pt-2
                        ">
                                        Level
                                    </label>
                                    <div class="mt-1 sm:mt-0 sm:col-span-2">
                                        <select id="job-level" name="job-level" required="" class="
                            block
                            w-full
                            pl-3
                            pr-10
                            py-2
                            text-base
                            border-gray-300
                            focus:outline-none
                            focus:ring-pink-500
                            focus:border-pink-500
                            sm:text-sm
                            rounded-md
                          ">
                                            <option value="internship">Internship</option>
                                            <option value="entry">Entry</option>
                                            <option value="experienced">Experienced</option>
                                            <option value="manager">Manager</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="lg:grid lg:grid-cols-3 lg:gap-4 lg:items-start">
                                    <label for="job-department" class="
                          block
                          text-sm
                          font-medium
                          text-gray-700
                          sm:mt-px sm:pt-2
                        ">
                                        Department
                                    </label>
                                    <div class="mt-1 sm:mt-0 sm:col-span-2">
                                        <input type="text" name="job-department" id="job-department" required=""
                                            placeholder="e.g. Engineering" class="
                            block
                            w-full
                            shadow-sm
                            sm:text-sm
                            focus:ring-pink-500 focus:border-pink-500
                            border-gray-300
                            rounded-md
                          ">
                                    </div>
                                </div>

                                <div class="lg:grid lg:grid-cols-3 lg:gap-4 lg:items-start">
                                    <label for="job-summary" class="
                          block
                          text-sm
                          font-medium
                          text-gray-700
                          sm:mt-px sm:pt-2
                        ">
                                        Summary
                                    </label>
                                    <div class="mt-1 sm:mt-0 sm:col-span-2">
                                        <textarea id="job-summary" name="job-summary" rows="4" required="" class="
                            block
                            w-full
                            shadow-sm
                            sm:text-sm
                            focus:ring-pink-500 focus:border-pink-500
                            border border-gray-300
                            rounded-md
                          "></textarea>
                                    </div>
                                </div>

                                <div class="lg:grid lg:grid-cols-3 lg:gap-4 lg:items-start">
                                    <label for="headcount" class="
                          block
                          text-sm
                          font-medium
                          text-gray-700
                          sm:mt-px sm:pt-2
                        ">
                                        Headcount
                                    </label>
                                    <div class="mt-1 sm:mt-0 sm:col-span-2">
                                        <div class="relative w-32">
                                            <button type="button" class="
                              absolute
                              left-0
                              inset-y-0
                              px-1.5
                              text-gray-400
                            " id="headcount-minus-btn">
                                                <svg class="w-6 h-6" fill="none" stroke="currentColor"
                                                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" d="M20 12H4"></path>
                                                </svg>
                                            </button>
                                            <input type="text" name="headcount" id="headcount" required="" class="
                              block
                              w-full
                              px-9
                              text-center
                              shadow-sm
                              sm:text-sm
                              focus:ring-pink-500 focus:border-pink-500
                              border-gray-300
                              rounded-md
                            " value="1" readonly="">
                                            <button type="button" class="
                              absolute
                              right-0
                              inset-y-0
                              px-1.5
                              text-gray-400
                            " id="headcount-plus-btn">
                                                <svg class="w-6 h-6" fill="none" stroke="currentColor"
                                                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                                </svg>
                                            </button>
                                        </div>
                                        <div id="headcount-error" class="text-red-500 text-xs pt-1 hidden"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="px-4 py-4 sm:px-6 text-right">
                            <button class="
                      inline-flex
                      justify-center
                      py-2
                      px-4
                      border border-transparent
                      shadow-sm
                      text-sm
                      font-medium
                      rounded-md
                      text-white
                      bg-pink-600
                      hover:bg-pink-700
                      focus:outline-none
                      focus:ring-2
                      focus:ring-offset-2
                      focus:ring-pink-500
                    ">
                                ADD
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <ul class="md:flex-1 space-y-3" id="career-list">
                <li class="js-career-item">
                    <div class="bg-white shadow overflow-hidden sm:rounded-md">
                        <div class="px-4 py-4 flex items-center sm:px-6">
                            <div class="
                      min-w-0
                      flex-1
                      sm:flex sm:items-center sm:justify-between
                    ">
                                <div>
                                    <div class="
                          text-sm
                          leading-5
                          font-medium
                          text-pink-600
                          truncate
                        ">
                                        Memer
                                        <span class="ml-1 font-normal text-gray-500">in UI / UX Design
                                        </span>
                                    </div>
                                    <div class="mt-2 flex">
                                        <div class="
                            flex
                            items-center
                            gap-2
                            text-sm
                            leading-5
                            text-gray-500
                          ">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400">
                                                <path fill-rule="evenodd"
                                                    d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z"
                                                    clip-rule="evenodd"></path>
                                                <path
                                                    d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z">
                                                </path>
                                            </svg><span>Level: Experienced </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="
                      ml-5
                      flex-shrink-0
                      inline-flex
                      items-center
                      justify-center
                      gap-2
                    ">
                                <button type="button" class="
                        js-delete-btn
                        p-1
                        rounded-full
                        hover:bg-gray-50
                        focus:outline-none
                        focus:bg-gray-50
                        focus:ring
                        focus:ring-pink-500
                        focus:ring-opacity-30
                        transition
                        duration-150
                        ease-in-out
                      " title="Delete">
                                    <svg class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="js-career-item">
                    <div class="bg-white shadow overflow-hidden sm:rounded-md">
                        <div class="px-4 py-4 flex items-center sm:px-6">
                            <div class="
                      min-w-0
                      flex-1
                      sm:flex sm:items-center sm:justify-between
                    ">
                                <div>
                                    <div class="
                          text-sm
                          leading-5
                          font-medium
                          text-pink-600
                          truncate
                        ">
                                        Slack Chatter
                                        <span class="ml-1 font-normal text-gray-500">in Engineering
                                        </span>
                                    </div>
                                    <div class="mt-2 flex">
                                        <div class="
                            flex
                            items-center
                            gap-2
                            text-sm
                            leading-5
                            text-gray-500
                          ">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400">
                                                <path fill-rule="evenodd"
                                                    d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z"
                                                    clip-rule="evenodd"></path>
                                                <path
                                                    d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z">
                                                </path>
                                            </svg><span>Level: Entry </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="
                      ml-5
                      flex-shrink-0
                      inline-flex
                      items-center
                      justify-center
                      gap-2
                    ">
                                <button type="button" class="
                        js-delete-btn
                        p-1
                        rounded-full
                        hover:bg-gray-50
                        focus:outline-none
                        focus:bg-gray-50
                        focus:ring
                        focus:ring-pink-500
                        focus:ring-opacity-30
                        transition
                        duration-150
                        ease-in-out
                      " title="Delete">
                                    <svg class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="js-career-item">
                    <div class="bg-white shadow overflow-hidden sm:rounded-md">
                        <div class="px-4 py-4 flex items-center sm:px-6">
                            <div class="
                      min-w-0
                      flex-1
                      sm:flex sm:items-center sm:justify-between
                    ">
                                <div>
                                    <div class="
                          text-sm
                          leading-5
                          font-medium
                          text-pink-600
                          truncate
                        ">
                                        Janitor
                                        <span class="ml-1 font-normal text-gray-500">in Health/Wellfare
                                        </span>
                                    </div>
                                    <div class="mt-2 flex">
                                        <div class="
                            flex
                            items-center
                            gap-2
                            text-sm
                            leading-5
                            text-gray-500
                          ">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400">
                                                <path fill-rule="evenodd"
                                                    d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z"
                                                    clip-rule="evenodd"></path>
                                                <path
                                                    d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z">
                                                </path>
                                            </svg><span>Level: Experienced </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="
                      ml-5
                      flex-shrink-0
                      inline-flex
                      items-center
                      justify-center
                      gap-2
                    ">
                                <button type="button" class="
                        js-delete-btn
                        p-1
                        rounded-full
                        hover:bg-gray-50
                        focus:outline-none
                        focus:bg-gray-50
                        focus:ring
                        focus:ring-pink-500
                        focus:ring-opacity-30
                        transition
                        duration-150
                        ease-in-out
                      " title="Delete">
                                    <svg class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="js-career-item">
                    <div class="bg-white shadow overflow-hidden sm:rounded-md">
                        <div class="px-4 py-4 flex items-center sm:px-6">
                            <div class="
                      min-w-0
                      flex-1
                      sm:flex sm:items-center sm:justify-between
                    ">
                                <div>
                                    <div class="
                          text-sm
                          leading-5
                          font-medium
                          text-pink-600
                          truncate
                        ">
                                        GitHub Issue Commentor
                                        <span class="ml-1 font-normal text-gray-500">in Engineering
                                        </span>
                                    </div>
                                    <div class="mt-2 flex">
                                        <div class="
                            flex
                            items-center
                            text-sm
                            leading-5
                            text-gray-500
                            gap-2
                          ">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400">
                                                <path fill-rule="evenodd"
                                                    d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z"
                                                    clip-rule="evenodd"></path>
                                                <path
                                                    d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z">
                                                </path>
                                            </svg><span>Level: Internship</span>
                                            <span class="
                              inline-flex
                              items-center
                              px-2.5
                              py-0.5
                              rounded-full
                              text-xs
                              font-medium
                              bg-green-100
                              text-green-800
                            ">
                                                Student-friendly
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="
                      ml-5
                      flex-shrink-0
                      inline-flex
                      items-center
                      justify-center
                      gap-2
                    ">
                                <button type="button" class="
                        js-delete-btn
                        p-1
                        rounded-full
                        hover:bg-gray-50
                        focus:outline-none
                        focus:bg-gray-50
                        focus:ring
                        focus:ring-pink-500
                        focus:ring-opacity-30
                        transition
                        duration-150
                        ease-in-out
                      " title="Delete">
                                    <svg class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>